<!-- templates/taxi/index.html -->
{% extends 'base.html' %}

{% block title %}Home - Taxi Service{% endblock %}

{% block content %}
  <h1>Taxi Service Home</h1>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Drivers</h5>
          <p class="card-text">Total: {{ num_drivers }}</p>
          <a href="{% url 'taxi:driver-list' %}" class="btn btn-primary">View All Drivers</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cars</h5>
          <p class="card-text">Total: {{ num_cars }}</p>
          <a href="{% url 'taxi:car-list' %}" class="btn btn-primary">View All Cars</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manufacturers</h5>
          <p class="card-text">Total: {{ num_manufacturers }}</p>
          <a href="{% url 'taxi:manufacturer-list' %}" class="btn btn-primary">View All Manufacturers</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mt-4">
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  </div>
{% endblock %}